.form-card {
  display: flex;
  flex-direction: column;
  background-color: #ffe8df;
  box-shadow: 3px 3px 4px 4px rgba(0,0,0,0.4);
  padding: 1em;
  border-radius: 5px;
}

.form-card fieldset {
  border: none;
}

.form-buttons button {
  margin-top: 2em;
  margin-left: 1em;
  font-size:small;
  width: 10em;
  height: 3em;
  background-color: #ffe8df;
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.4);
  padding: .5em;
  border: none;
  border-radius: 5px;
}

.form-buttons button:hover {
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.4);
}