.form-card {
  display: flex;
  flex-direction: column;
  background-color: #06AED5;
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.5);
  padding: 0em 10em 1em 1em;
  width: 20%;
  border: 2px solid black;
  border-radius: 5px;
}

.input-paragraph {
  padding: 2px 0;
  margin: 5px 0;
}

.form-card fieldset {
  border: none;
}

.other-fieldset {
  margin: 30px 0 0;
  padding: 0;
}

.input-fieldset {
  padding: 0em;
  margin: 2px 0 20px;
}

.form-control {
  border: 2px solid black;
  Width: 100%;
  Height: 2em;
  font-weight: bold;
}

#gravyType {
  border: 2px solid black;
  height: 2em;
  Width: 40%;
  font-weight: bold;
}

.form-buttons {
  margin-bottom: 2em;
}

.form-buttons button {
  margin-top: 2em;
  margin-left: 1em;
  font-size:small;
  font-weight: bold;
  width: 10em;
  height: 3em;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
  border: 2px solid black;
  padding: .5em;
  border-radius: 5px;
}

.form-buttons button:hover {
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.5);
}

.create-button {
  background-color: #06AED5;
}

.create-button:hover {
  background-color: #086788;
}

.cancel-button {
  background-color: #DD1C1A;
}

.cancel-button:hover {
  background-color: #a11715;
}

.reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviews .rating {
  position:relative;
  display:flex;
  flex-direction: row-reverse;
}

.reviews .rating input {
  position: relative;
  width: 20px;
  height: 40px;
  display: flex;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  margin: 0px;
}

.reviews .rating input::before {
  content:'\f005';
  position: absolute;
  font-family: fontAwesome;
  font-size: 32px;
  position: absolute;
  left: 5px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.reviews .rating input:nth-child(2n+1)::before {
  right: 5px;
  left: initial;
}

.reviews .rating input:hover ~ input::before,
.reviews .rating input:hover::before,
.reviews .rating input:checked ~ input::before,
.reviews .rating input:checked::before {
  color: #F0C808;
}